#slider_container_1 { margin:auto; width: 860px; z-index:100;/* background: #000000; -moz-border-radius: 10px 10px; -webkit-border-radius: 10px 10px; border-radius: 10px 10px;*/}

#SliderName,#SliderName1{
	width: 850px;
	height: 530px;
	/*margin: auto;	*/
	border:5px solid #000000;
	
}

.SliderNamePrev{
	background: url(../images/left.gif) no-repeat center center;
	width: 37px;
	height: 65px;
	display: block;
	position: absolute;
	top: 42%;
	left: 10px;
	text-decoration: none;
}

.SliderNameNext{
	background: url(../images/right.gif) no-repeat center center;
	width: 37px;
	height: 65px;
	display: block;
	position: absolute;
	top: 42%;
	right: 10px;
	text-decoration: none;
}

.SliderNameDescription{
	font-family: Verdana;
	font-size: 10px;
	text-align: left;
	padding: 5px;
}

#SliderNameNavigation {/* margin: 10px 0 0 0; padding-top: 15px; height: 15px; text-align: center; -moz-border-radius: 6px 6px; background: #fff; */}

#SliderNameNavigation a:link, #SliderNameNavigation a:active, #SliderNameNavigation a:visited, #SliderNameNavigation a:hover{
	margin: 0 2px;
	
	font-size: 0px;
	line-height: 0px;
	padding: 12px;
	text-decoration: none;
}

#SliderNameNavigation a.active:link, #SliderNameNavigation a.active:active, #SliderNameNavigation a.active:visited, #SliderNameNavigation a.active:hover{
	
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
	
	#slider_container_1 { margin:auto;padding: 10px; width: 650px;/* background: #000000; -moz-border-radius: 10px 10px; -webkit-border-radius: 10px 10px; border-radius: 10px 10px;*/}
	#SliderName,#SliderName1{width: 650px;height: 414px;/*margin: auto;	*/margin:-43px auto;border:5px solid #000000;}
	
	#SliderName img{width: 650px !important;height: 414px !important;}
	.SliderNamePrev{
	background: url(../images/left.gif) no-repeat center center;
	width: 37px;
	height: 65px;
	display: block;
	position: absolute;
	top: 35%;
	left: 10px;
	text-decoration: none;
}

.SliderNameNext{
	background: url(../images/right.gif) no-repeat center center;
	width: 37px;
	height: 65px;
	display: block;
	position: absolute;
	top: 35%;
	right: 25% !important;
	text-decoration: none;
}

.SliderNameDescription{
	font-family: Verdana;
	font-size: 10px;
	text-align: left;
	padding: 5px;
}

#SliderNameNavigation {/* margin: 10px 0 0 0; padding-top: 15px; height: 15px; text-align: center; -moz-border-radius: 6px 6px; background: #fff; */}

#SliderNameNavigation a:link, #SliderNameNavigation a:active, #SliderNameNavigation a:visited, #SliderNameNavigation a:hover{
	margin: 0 2px;
	
	font-size: 0px;
	line-height: 0px;
	padding: 12px;
	text-decoration: none;
}

#SliderNameNavigation a.active:link, #SliderNameNavigation a.active:active, #SliderNameNavigation a.active:visited, #SliderNameNavigation a.active:hover{
	
}
	
}