/* fonts */
@font-face {
	font-family: 'heading';
	src: url('../fonts/cutoffpro-regular-webfont.eot');
    src: url('../fonts/cutoffpro-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cutoffpro-regular-webfont.woff') format('woff'),
         url('../fonts/cutoffpro-regular-webfont.ttf') format('truetype'),
         url('../fonts/cutoffpro-regular-webfont.svg#cutoff_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Conv_MyriadPro-Regular';
	src: url('../fonts/MyriadPro-Regulard41d.eot?#iefix') format('embedded-opentype'),
	src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.warning-message {display: none;}
*{ margin:0; padding:0; }
html{ height:100%;width:100%; overflow:hidden; }
body{ font-family:'Conv_MyriadPro-Regular', Sans-Serif; font-size:12px; color:#333132; background: #929292; height:100%; width:100%; overflow:hidden; }

a, img{ border:none;}

.content{ width:100%; height:100%; display:block;}
.warning-message {display: none;}

.left{ float:left; }
.right{ float:right; }
.clear{ clear:both; }

a, a:hover, a:active { outline:none;}

.content-wrapper{display:none;}

#mainContainer{ width:100%; height:100%; position:relative; margin:auto; overflow:hidden;}

/* Landing page css */

.landingBg{ background:url(../images/landing-page-bg.gif) repeat-y top left; background-size:cover;}
.fadedLogo, .fullLogo{ position:absolute; top:45%; left:0; width:100%; text-align:center; z-index:5; display:none;}

.homeBg{  position:absolute; top:0; left:0; z-index:1; width:100%; height:100%;}
.storyBg{  position:absolute; top:0; left:0; z-index:1; width:100%; height:100%;}
.bg2{ background:url(../images/bg.jpg) no-repeat center center !important;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg.html',sizingMethod='scale');
		-ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg.jpg',sizingMethod='scale')"; }
.contactBg{ position:absolute; top:0; left:0; z-index:1; width:100%; height:100%;}
.locationBg{ position:absolute; top:0; left:0; z-index:1; width:100%; height:100%;}
.residenceBg{ position:absolute; top:0; left:0; z-index:1; width:100%; height:100%;}
.header{ padding:30px 0; text-align:center; z-index:5; position:absolute; width:100%; top:0; left:0; }
.constructionBg{background: url(../images/residenceBg.jpg) no-repeat top left; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg.html',sizingMethod='scale');
		-ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/bg.jpg',sizingMethod='scale')";background-size:cover;}

.fadeWhite{ background:url(../images/whiteBgPixel.png); }
		
		
		
.impact{ position:absolute; top:16px; left:3%;}
.logo_white{ position:absolute; top:30px; right:3%; }
.slogan{ position:absolute; left:0; top:0; width:100%; text-align:center; padding-top:250px; z-index:2; color:#fff; font-size:30px; font-family:'heading'; font-weight:normal; }
.footer{  background-color: #2c2b28;
    bottom: 0;
    height: 76px;
    left: 0;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    z-index: 2;}
.footer .contentLeft{ position:absolute; left:15px; bottom:46px; font-size:12px; }
.footer .contentRight{ position:absolute; right:15px; bottom:40px; font-style:italic; font-size:12px; color:#ffffff;}
.footer .mobileFriend{ position:absolute; right:15px; bottom:10px; font-size:12px; color:#ffffff;}
.browsers{ font-size:12px; width:280px; margin:auto; color:#fff; margin-top:20px; }

.nav{ 
	width:auto; margin:auto; text-align:center; font-size:12px; line-height:40px; margin-bottom:20px; background:url(../images/menuBg.png) no-repeat center center;background-size:cover;
}
.nav a{ padding:0 5px; color:#333132; text-decoration:none; width:100%; }

.enquire{bottom:0px !important; position:absolute; width:100%; display:none; }
.enquiryPanel{ 
	float:left;  background:rgba(255, 255, 255, .5); margin-right:1px; font-size:15px; width:90px; text-indent:8px; line-height:30px; 
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7cffffff', endColorstr='#7cffffff'); cursor:pointer;
}
.enquiryPanel span{background:url(../images/arrow.png) 75px 11px no-repeat; display:block;}
.enquiryPanelClose{ 
	float:left; background:rgba(255, 255, 255, .5);  margin-right:1px; font-size:15px; width:90px; text-indent:8px; line-height:30px;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7cffffff', endColorstr='#7cffffff');  /* IE */;
}
.enquiryPanelClose span{background:url(../images/arrow1.png) 75px 11px no-repeat; display:block; }
.enquire .enquiryForm{ 
	background:rgba(255, 255, 255, .5); height:25px; padding:5px 0 0 10px; display:none;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7cffffff', endColorstr='#7cffffff'); 
}
.enquire .enquiryForm input{ 
	float:left; border:none; background:rgba(0,0,0, .5); color:#ffffff; width:21%; line-height:22px; height:22px; text-indent:10px; margin-right:1%;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7c000000', endColorstr='#7c000000'); 
}
.enquire .enquiryForm input:first-child{
	margin-left:1%; 
}
.enquire .enquiryForm input:first-last{
	margin-right:0; 
}
#txtmail{ margin:0; }
.enquire .enquiryForm input.btn{ 
	background:url(../images/arrow.png) 55px 7px no-repeat rgba(255, 255, 255, .5); color:#333132; font-size:12px; cursor:pointer; width:70px !important; padding:0 20px 0 10px; text-indent:0; margin:0; position:absolute; right:8px; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7cffffff', endColorstr='#7cffffff'); cursor:pointer; /* IE */;  
}


.weatherContainer{ color:#333132; font-size:13px; padding-right:20px !important; width:210px; left:3%; position:absolute; font-family:'Conv_MyriadPro-Regular'; color:#ffffff; bottom:-6px;}
.weather{ font-weight:520; font-size:13px; background:url(../images/weather-icon.png) left center no-repeat; padding-left:30px; float:left; padding-top:7px; line-height:16px; letter-spacing:0px; font-style:italic; }
#weatherDiv{ position:absolute; bottom:4px; font-size:13px; right:0; height:15px; font-weight:520; color:#ffffff; }

#bottomContent{ min-width:1002px;width:100%; margin:auto; font-size:12px; padding:5px 0; line-height:28px; position:absolute; bottom:7%;z-index: 3;color: #ffffff;}

#bottomContent a{ color:#333132; text-decoration:none; }
#bottomContent a:hover{ text-decoration:underline; }
.marquee{ position:absolute; top:40px; left:15px; width:200px; color:#ffffff; }


.bottomMenu{color:#ffffff !important; width:100%; text-align:center; margin-top:-9px; font-size:11px; }
.bottomMenu a{ color:#ffffff !important; text-decoration:none;}

.socialIcons{ position:absolute; top:0; bottom:120% !important; height:27px; right:0;}
.socialIcons a{ float:left; width:27px; height:27px; background:url(../images/social-icons.png) no-repeat; margin:0 3px; }
.facebook{ }
.twitter{ background-position:-30px 0 !important; margin:0 !important; }

#stage{ top: 0px; left: 0px; z-index:1; }
.stage{ position: absolute; top: 0; left: 0; width: 100%; min-width:900px; height:100% !important; overflow:hidden; }

#no_scrollbutton{ 
	background:transparent url(../images/cloud-1new.png) repeat-x; background-size:cover;
}
#cloudLanding{ 
	background:transparent url(../images/clouds-landing1.png) repeat-x top left; background-size:100% 100%; 
}

#div_idle, #div_away{ position:absolute; width:100%; height:100%; top:0; left:0; background: url(../images/mystWebsite_screensavergrey.png) no-repeat center center #eeeeee; text-align:justify; z-index:9; display:none; }
 #div_away{ background: url(../images/mystWebsite_screensaverblack.png) no-repeat center center #000000;}
/* Inner pages */
#contentContainer{ 
	background:url(../images/content-bg.png) no-repeat; padding:0 0px; width:392px; height:310px; margin-left:0px; font-size:12px; line-height:18px; text-align: justify; color:#fff; position:relative; z-index:5; 
	margin-top:14% !important; 
}

.contentContainer_plans{ position:absolute; margin:auto !important; top:10%; width:800px !important;background:url(../images/content-bg.png) repeat-x !important;}


#contentContainer .inner{ font-family:'Conv_MyriadPro-Regular', Sans-Serif; position:relative; padding:8px 0; height:93%; font-size:12px;}

#contentContainer h1{ font-family:'heading'; font-size:18px; padding-bottom: 2px; padding-left: 16px;}
#contentContainer h1 span{  font-family:'heading';font-size:14px;}

.no_scrollbutton{overflow:hidden; height:290px; width:360px !important;margin-left:15px; margin-top:10px; position:absolute;}
.no_scrollbuttonPlans{height:270px; width:790px !important;margin-left:15px; margin-top:10px; position:absolute;}
#scrollbutton_div, #scrollbutton_div1{ overflow:hidden; height:235px; width:360px !important; margin-left:15px; margin-top:10px; position:absolute;}
#scrollbutton_div_plans{ overflow:hidden; height:235px; width:800px !important; margin-left:15px; margin-top:10px; position:absolute;}

.no_scrollbuttonPlans #scrollbutton_div{ width:765px !important;}


.upBtn, .downBtn{  position:absolute; width:20px !important; height:20px !important; bottom:0; right:35px; background:url(../images/nav-arrow-up.png) center no-repeat !important; z-index:400 !important; display:block !important;}
.downBtn{ right:10px; background:url(../images/nav-arrow-down.png) center no-repeat !important; }

.subNav{ position:absolute; left:0; bottom:0; font-size:12px; }
.subNav a{ color:#fff; text-decoration:none;background:url(../images/buttonBg_black.png);   float:left; padding:2px 8px; margin-right:3px; }
.subNav a:hover{ background:url(../images/buttonBg_black.png);  }

.masterPlan{ position:absolute;left:19px; display:table; bottom:0px; z-index:1000 !important;width:70px;height:20px;opacity:0.0;filter:alpha(opacity=0); /* For IE8 and earlier */ text-align:center; } 
/*.masterPlan a{color:#ffffff;text-decoration:none;}*/
#tabs{ position:relative; height:100%;}
.locationPgBtns{ list-style:none; position:absolute; left:0; bottom:0; z-index:1;/*margin-left:82px;*/ }

.locationPgBtns.residence{ bottom:-51px !important;}
.locationPgBtns .block{ width:350px; height:0px;}
#tabs > ul{ list-style:none; position:absolute; left:17px; bottom:-22px; z-index:1; width:280px !important;}
#tabs > ul li{ float:left; margin-right:3px; padding-top:4px; }
#tabs > ul li a{ color:#fff; text-decoration:none; background:url(../images/buttonBg_black.png); padding:5px;  float:left; padding:2px 8px; cursor:pointer; }
#tabs > ul li a:hover, .ui-tabs .ui-tabs-nav li.ui-tabs-active{/* background:#000; */}

#loading{ background:#fff url(../images/loader.gif) no-repeat center 310px; height:100%; width:100%; position: fixed; z-index: 1000; left:0; top:0; }
#tab2{ display:none;}
.plans li{ list-style:none; display:inline; float:left; padding:10px;text-align:center; font-size:10px; margin:0px 10px;}
.plans li a{ text-decoration:none; color:#ffffff; }

.locationMaps{  float:left; position:absolute; margin-top:216px; width:90%;}
.locationMaps li{ display:inline; color:#ffffff;}
.locationMaps li:first-child{ list-style:none;display:inline;margin-left:0px !important;}
.locationMaps li:last-child{ list-style:none; padding:0px; display:inline !important;margin-left:0px !important;}
.locationMaps li a{ text-decoration:none; color:#ffffff;background:url(../images/buttonBg_black.png); padding:2px 5px 5px 5px;}
.right.rightContact{ margin-right:0%;}

.policyList{}
.policyList li{ list-style:square; color:#ffffff; margin-left:13px;}
.no_scrollbutton ul li{ list-style:square; color:#ffffff; margin-left:15px;}
#scrollbutton_div1 ul li{ list-style:square; color:#ffffff; z-index:1 !important; margin-left:18px !important; }
#scrollbutton_div1 ul li ul li{ list-style:circle; color:#ffffff;margin-left:15px !important;}
.officeAdd{ font-size:15px;color:#ffffff; text-decoration:none;}
.officeAdd a{ color:#ffffff; text-decoration:none;}
.skipBtn{ float:right; position:absolute; right:5%; bottom:20px;}
.skipBtn a{ color:#000000; text-decoration:none;}

.gallery{  position:absolute; right:0px; bottom:65px; text-transform:uppercase; font-size:12px; z-index:5; width:200px; }
.galLinks{ width:180px; float:right; display:none; }
.galLinks a{ 
	position:static !important; float:none !important; display:block; margin-bottom:5px; 
	color:#000 !important; background:rgba(205, 205, 205, .8) !important;  
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8acdcdcd', endColorstr='#cdcdcd',GradientType=0 ); /* IE6-9 */
}

.gallery a{ background: url(../images/blackBgPixel.png); color:#ffffff; padding:0px 10px; line-height:30px; text-decoration:none; text-align:center; float:right; width:160px;}
.winter{ color:#000 !important; background:rgba(205, 205, 205, .8) !important;  
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8acdcdcd', endColorstr='#cdcdcd',GradientType=0 ); /* IE6-9 */
}
.rainSeason{ color:#000 !important; background:rgba(205, 205, 205, .8) !important;  
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8acdcdcd', endColorstr='#cdcdcd',GradientType=0 ); /* IE6-9 */
}

.wht{ color:#000 !important; background:rgba(255, 255, 255, .7) !important; 
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7affffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.newEnquiryForm{  display:none; padding:10px; background:rgba(255, 255, 255, .7) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7affffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.newEnquiryForm input{ width:95%; padding:5px; margin-bottom:5px; background:rgba(0,0,0, .5); color:#fff; display:block; border:none;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.newEnquiryForm select{ width:99%; padding:5px; margin-bottom:5px; background:rgba(0,0,0, .5); color:#fff; display:block; border:none;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.newEnquiryForm input[type="submit"] { width:auto; background:#fff; border:none; color:#000; cursor:pointer; padding:0px 10px; line-height:24px; margin-top:5px; margin-bottom:0px;}

.designSpan{}
.designSpan a{text-decoration:none;}

#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 100%;
}
#lightbox-container-image-box {position: relative;background-color: #fff;width: 250px;height: 250px;margin: 7% auto 0px;}


/* Gallery */
#gallery{ position:absolute; top:0; left:0; width:100%; height:100%; }
#gallery img{ width:100%; height:100%; }
.pikachoose {width: 1024px; margin: 0 auto;}
.pika-stage {position: relative; width:100%; height:100%; }
.pika-stage .pika-aniwrap, .pika-stage .main-image {position: absolute; top: 0; left: 0;}
.pika-stage .pika-aniwrap{width:100%;}
.pika-stage .pika-ani {position:relative;display: none;z-index:2;margin:0 auto;}
.pika-stage img {border:0;height:100%;}
.pika-stage .caption {position: absolute; background:#000; background: rgba(0,0,0,0.75);  border: 0px solid #141414; font-size: 30px; color: #fafafa; padding: 10px; text-align: left; bottom:100px; left:0; display:none;
	background: linear-gradient(to bottom,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.75) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
 }
.pika-stage .caption code { font-family:"custom", arial; }
.pika-textnav, .pika-imgnav {display:none;}
.pika-counter{position: absolute;bottom: -20px;left:15px;font-size:11px; display:none; }
#pikame{display:none;}


.planTypes{ display:block;width:100%; }
.planTypes li{ list-style:none !important; padding-bottom:8px; }
.planTypes li a{ text-decoration:none; color:#ffffff;}


.plansPanel{ width:93%;}
.plans h5{ width:100%; text-align:left;}


.subPlans{ margin-left:10px;}
.subPlans ul{width:790px !important; clear:both;}
.subPlans ul li{ float:left; padding:12px; text-align:center; font-size:10px;}
.white{ color:#ffffff;}
.scrollPanel{ width:96%; overflow:hidden; height:82%; }
/* pop up */
/*.popupbox*/
#popuprel_2bhk,#popuprel_4bhk{ 
	width:800px; background: url(../images/blackBgPixel.png); float: left; position:fixed; top:50%; left:49.75%; z-index: 999; padding:10px; display:none;
}
#popuprel_3bhk{ 
	width:540px; background: url(../images/blackBgPixel.png); float: left; position:fixed; top:50%; left:49.75%; z-index: 999; padding:10px; display:none; 

}
#popuprel, #popuprelVisit{ width:590px; }
#fade{ background:url(../images/whiteBgPixel.png); position:fixed; left:0; top:0; width:100%; height:100%; z-index:8; display:none; }
#2bhk_level, #3bhk_level, #4bhk_level{ position:relative; padding:25px; background:#fff; }
.close{ position:absolute; font-size:14px; color:#000000; background:#ffffff; font-weight:normal; /*width:10px; height:10px;*/ top:4%; right:2%; text-decoration:none; padding:5px; }
.heading_popupDiv{ font-size:28px; background:url(../images/content-bg.html) 0 0 no-repeat; padding:0; color:#ffffff; }

#container {width:640px;padding:10px;margin:0 auto;position:relative;z-index:999;}
#example {height: 403px;position: relative;width: 635px;}
#frame {height: 457px;left: -80px;position: absolute;top: 160px;width: 800px;z-index:0;}
#slides {position:absolute;top:180px;left:11px;z-index:100;}
.slides_container {width:618px;overflow:hidden;position:relative;display:none;}
.slides_container div.slide {width:618px;height:370px;display:block;}
#slides .next,#slides .prev {position:absolute; top:160px; left:-40px; width:24px; height:43px; display:block; z-index:9999999999 !important; }
#slides .next {left:633px;}
.closeBtn{position:absolute; top:-80px; left:655px; width:24px; height:43px; display:block}
.pagination {margin:26px auto 0;width:100px;display:none;}
.pagination li {float:left;margin:0 1px;list-style:none;}
.pagination li a {display:block;width:12px;height:0;padding-top:12px;background-image:url(../assets/constructionUpdates/pagination.html);background-position:0 0;float:left;overflow:hidden;}
.pagination li.current a {background-position:0 -12px;}
.caption {z-index:500;position:absolute;bottom:-35px;left:0;height:25px;padding:5px 20px 0 20px;background:#000;background:rgba(0,0,0,.7);width:578px;font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;font-size:.9em;line-height:.9;color:#fff;text-shadow:none;}
 .caption p {padding:0px; margin:2px;}
 
#popuprel_googleMap{width:1070px; background:url(../images/blackBgPixel.png); float: left; position:fixed; top:47%; left:49.75%; z-index: 999; padding:10px; display:none; 
	height:auto !important; filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c242424', endColorstr='#4c242424'); /* IE */
}
#popuprel_googleMapLevel{ position:relative; padding:25px;}
#google_GPS{ padding-top:10px;}


.masterPlanZoom{ position:fixed; background: url(../images/blackBgPixel.png); width:100%; height:100%; top:0; left:0; display:table; z-index:99; visibility:hidden;}
.panel1{ color:#ffffff; width:100%; height:100%;  display:table-cell; vertical-align:middle;}
.panel2{ margin:auto !important; width:600px; height:500px;}


.closePlans{position:absolute; text-decoration:none; color:#ffffff; font-size:24px; top:0; right:-40px; cursor:pointer;}

#constructionGallery { width:100%; height:100%; position:absolute; top:0px; left:0p; z-index:99999; display:table; background:url(../images/whiteBgPixel.png); visibility:hidden;}
#winterGallery { width:100%; height:100%; position:absolute; top:0px; left:0p; z-index:99999; display:table; background:url(../images/whiteBgPixel.png); visibility:hidden;}
#rainGallery { width:100%; height:100%; position:absolute; top:0px; left:0p; z-index:99999; display:table; background:url(../images/whiteBgPixel.png); visibility:hidden;}
.galleryPics { width:100%; height:100%; display:table-cell; vertical-align:middle; margin:auto; text-align:center; }
.galleryPics .container { width:900px; height:540px; margin:auto; }
.galleryPics .container a { color:#fff; font-size:22px; text-decoration:none; float:right; background:#000; padding:5px 10px;  }
.construction { width:860px; height:540px; }
#mapVideo { width:100%; height:auto; margin:auto; padding:10px 0px; }
.mapVideo{ width:100%; height:560px; margin:auto;}

/*--- mention Price --- */
.priceMention {width:500px; margin:auto; text-align:center; font-size:13px; margin-bottom:10px; color:#fff;}

.priceMention_enq {margin:auto; font-size:12px;  color:#000; margin-top:10px; text-transform:none; font-style:italic; }
.priceMention_enq span { margin-left:2px;}

.milagro { position:absolute; width:250px; height:10px; bottom:-25px; left:25px; color:#fff; font-style:normal; font-size:12px; font-family:'Conv_MyriadPro-Regular';}
.milagro a { color: #ff9126; text-decoration:none; font-style:italic;}

.tabView { display:none;}

.mblFriendly{ position:fixed; right:0px; bottom:52%; z-index:5; }
.ui-tooltip {
	padding: 8px; position: fixed !important; z-index: 9999; max-width: 300px; -webkit-box-shadow: 0 0 5px #aaa; box-shadow: 0 0 5px #aaa; font-size:12px !important; margin:0px 40px 0 0px; top:43% !important; color:#000; background:#fff;
}

.youTube { background:url(../images/video.png) no-repeat right center; padding-right:20px !important;} 

.video {  width:600px; height:400px; margin:auto; position:absolute; top:20%; left:33%; }
.videoWraper { background:rgba(0,0,0,.7); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */ width:100%; height:100%; position:absolute;}
.preload-vd { position:absolute; top:45%; left:49%;}
.winterPanel { width: 100%; height: 100%; }
.winterGallery { text-align: center; margin-top:10%;  }
.box { width: 60%; height: 60%; display: inline-block; vertical-align: middle; border:solid 5px white; }
.videoDisclaimer {width:80px; height:auto; margin:auto; text-align:center; margin-top:10px; font-size:12px; border-radius:3px; }
.videoDisclaimer a { text-decoration:none; color:#fff; font-weight:normal; text-transform:uppercase; letter-spacing:0.2px;}


/* -- Toll Free Number --- */
.intlNumber { width:auto; float:right !important; padding-left:15px !important; display:block; z-index:999;}
.intlNumber a { background:none !important;}
.intlNumber span { display:none; position:absolute; background:none !important; top:0; height:200px; right:64px; bottom:151px;}
/* -- / Toll Free Number --- */
/* Walkthrought video */
.fancybox-wrap, .fancybox-inner {  width:830px !important; height:520px !important;}


/*Enquiry and Cross Selling Banner */


.dropEnquiry{ border:solid 1px #e5e5e5; position:static; z-index:99; left:0; background:#f5f5f5; width:200px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; bottom:0; }
.dropEnquiry .icon{ position:absolute; top:-40px; left:10px; z-index:1; }
.dropEnquiry a{ display:block; background:#0099FF; color:#fff; font-size:14px; padding:5px 10px; font-weight:bold; position:relative; text-decoration:none;}
.dropEnquiry a span{ position:absolute; background:#bebebe; color:#2c2b28; width:20px; height:20px; text-align:center; border-radius:50%; line-height:20px; font-family:arial; font-weight:normal; right:10px; top:4px;  }
.dropEnquiry fieldset{ padding:10px;  border:none;  border-top:solid 2px #bebebe; display:block; }
.dropEnquiry fieldset .row{ float:left; width:95%; padding-bottom:8px; }
.dropEnquiry fieldset .row input, .dropEnquiry fieldset .row select{ 
	border:solid 1px #d6d5d5; border-radius:8px; padding:8px 5%; width:90%;
	-moz-box-shadow: inset 0 0 10px #d6d5d5;
   	-webkit-box-shadow: inset 0 0 10px #d6d5d5;
  	 box-shadow: inset 0 0 10px #d6d5d5;
}
.dropEnquiry fieldset .row select { width: 100%; }
.dropEnquiry fieldset .row .customSelect, .customSelect .selectList{ width:100%; }
.dropEnquiry fieldset .row input[type=submit]{ 
	width:100%; background:#0099FF; color:#fff; text-transform:uppercase; font-size:14px; letter-spacing:1px; cursor:pointer; 
	-moz-box-shadow: inset 0 0 0px #d6d5d5;
   	-webkit-box-shadow: inset 0 0 0px #d6d5d5;
  	 box-shadow: inset 0 0 0px #d6d5d5;
}
.dropEnquiry fieldset .row input[type=submit]:hover{ background:#0099FF; }
.dropEnquiry fieldset .row.phone{}
.dropEnquiry fieldset .row.phone input{ width:22%; }
.dropEnquiry fieldset .row.phone input.alt{ width:53%; float:right; }

.otherProjects{ border-top:solid 2px #363233; position:static; z-index:99; left:0; bottom:0px; background:rgba(255,255,255,.9); width:280px; margin-top:10px; }
.otherProjects a{ display:block; color:#464648; padding:8px 12px; position:relative; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:15px; text-decoration:none; }
.otherProjects a span{ 
	position:absolute; background:#464648; width:20px; height:20px; text-align:center; color:#fff; border-radius:50%; line-height:20px; font-family:arial; font-weight:normal; right:10px; top:8px; font-size:11px; 
}
.otherProjects .figure{ position:relative; display:none }
.otherProjects .figure a{ position:absolute; height:100%; width:100px; left:0; top:0; }
.otherProjects .figure a.alt{ left:auto; right:0; width:135px; }

.gosfOffer { position:fixed; z-index:99; left:0; top:25%; width:280px; }
.homePage .veiwsite{ display:none}
.dropdowSection{ position:absolute; left:0; bottom:76px;  width:280px;}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
	.gallery{ display:block !important;}
	#contentContainer{ background:url(../images/content-bg.png) no-repeat; padding:0 0px; width:392px; height:310px; margin-left:0px; font-size:12px; line-height:18px; text-align:justify; color:#fff; position:relative; z-index:5; margin-top:2%;}
	#contentContainer a{ color:#ffffff; text-decoration:none;}
	#lightbox-container-image-box{ height:auto !important; }
	#lightbox-image{ height:450px !important; width:auto !important; }
	#lightbox-nav-btnPrev, #lightbox-nav-btnNext{ height:450px !important; }
	.close{position:absolute; font-size:12px; color:#000000; background:#ffffff; font-weight:normal; /*width:10px; height:10px;*/ top:10px; right:10px; text-decoration:none; padding:4px;}
	/*#2bhk_level h1, #3bhk_level h1, #4bhk_level h1, #popuprel_googleMapLevel h1{ font-size:10px !important; border:2px solid red !important;  padding:0; color:#ffffff; }*/
	.heading_popupDiv{font-size:14px;  padding:0; color:#ffffff;}
	
	#popuprel_googleMap{width:80%; background:url(../images/blackBgPixel.png); float: left; position:fixed; top:47%; left:49.75%; z-index: 999; padding:10px; display:none; height:60%; 
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c242424', endColorstr='#4c242424'); /* IE */}
	#popuprel_googleMapLevel{ position:relative; padding:15px;}
	#google_GPS{ padding-top:10px; width:100%; height:86%;}
	.tabView { display:inline-block;}
	.webView { display:none;}
	
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

	.warning-message{ color:#ffffff; background:#000000; position:absolute; height:100%; width:100%; padding-top:55%; top:0; left:0; display:block !important; font-size:18px; text-align:center; }
	.content{ display:none !important;}
	.gallery{ display:none !important;}
	 
}

